.Main{
  width: 100vw;
  height: 85vh;
  /* background: url('../../assets/bg.jpg') ; */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* background: #d1d1d1; */
}

.EnterName{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background: rgb(26, 25, 25);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EnterName > h1{
  font-size: 6rem;
  margin: 10px 0;
}

.EnterName > input{
  background: transparent;
  outline: none;
  border: none;
  font-size: 2.5rem;
  padding: 7px 10px;
  margin: 1rem 0;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.EnterName > button{
  font-size: 2.5rem;
  padding: 0.8rem 1rem;
  margin-top: 10px;
  color: #fff;
  background: transparent;
  outline: none;
  border: 1.5px solid #fff;
  border-radius: 4px;
  transition: all .1s ease-in;
}

.EnterName > button:hover{
  color: #000;
  background: #fff;
  cursor: pointer;
}

.ChatContainer{
  width: 100%;
  height: 100%;
  position: relative;
}

.ChatControls{
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 20%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 8%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatControls > *{
  height: 100%;
  display: inline-flex;
  align-items: center;
  margin:0 5px;
  font-size: 1rem;
  cursor: pointer;
}

.Query{
  border:none;
  outline:none;
  flex-grow: 1;
  cursor: auto;
}

.ControlIcon:first-child{
  padding: 15px;
  clip-path: circle();
  background: #000;
  color: #fff;
}

.ChatWindow{
  position: absolute;
  top: 2.5%;
  left: 12.5%;
  width: 75%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  /* background: #fff; */
  padding: 0.5rem;
}


