.Header{
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center ;
  align-items: center;
  background: transparent;
}

.Header > h1{
  font-size: 5rem;
  color: #fff;
  letter-spacing: 5px;
  background: #1d1d1d;
}

.Header > img {
  height: 75%;
  margin: 0 0.5rem;
}

.Icon{
  color: coral;
  font-size: 4.5rem;
}

@media (max-width: 900px){
  .Header > h1{
    font-size: 2rem;
  }
  .Icon{
    font-size: 2rem;
  }
  .Header > img{ height: 50%; }
}
